<div class="toolbar">
  <mat-toolbar color="primary">
    <span [ngClass]="{'heading-mobile': isMobile, 'heading-desktop': !isMobile}">{{ isMobile ? 'AVD' : 'Anand Vrindavan Dham'}}</span>

    <span class="nav-buttons">
      <button [ngClass]="{'button-mobile': isMobile, 'button-desktop': !isMobile}" mat-button [disableRipple]="true" routerLinkActive="darshan-active" routerLink="/darshan">Darshan</button>
      <!-- <button mat-button [disableRipple]="true" routerLinkActive="quotes-active" routerLink="/quotes">Quotes</button> -->
      <button [ngClass]="{'button-mobile': isMobile, 'button-desktop': !isMobile}" mat-button [disableRipple]="true" routerLinkActive="audio-active" routerLink="/audio" >Audio</button>
      <button [ngClass]="{'button-mobile': isMobile, 'button-desktop': !isMobile}" mat-button [disableRipple]="true" routerLinkActive="audio-active" routerLink="/audio-list" >View Audios</button>
      <!-- <button mat-button [disableRipple]="true" routerLinkActive="event-active" routerLink="/events" >Events</button> -->
      <!-- <button mat-button [disableRipple]="true" routerLinkActive="gallery-active" routerLink="/gallery" >Gallery</button> -->

    </span>
  </mat-toolbar>
</div>

<div class="title-heading">
  <h1 *ngIf="!isMobile" class="navigation-title">{{title}}</h1>
  <h3 *ngIf="isMobile" class="navigation-title">{{title}}</h3>
  <mat-divider></mat-divider>
</div>

