.create-button {
  margin: 20px;
}
.info {
  text-align: center;
  font-family: 'Dosis', Trebuchet MS, Helvetica, Arial, sans-serif;
}
table {
  width: 99%;
  margin: 0 auto;
}

.table-image {
  width: 100px;
  height: 100px;
  padding: 10px;
}


.gallery-table {
  .edit-button {
    cursor: pointer;
  }
}
