.quote-card {
  width: 40vw;
  height: 400px;
  margin: 0 auto;
  margin-top: 40px;
  .example-full-width {
    width: 100%;
  }
  .quote-image {
    width: 100px;
    height: 100px;
    padding: 10px;
  }
}


