/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0;
  height:100%;
}

html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}

.mat-raised-button, .mat-button {
  outline-style:none !important;
}
